<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="handleBack($event)">
        <ion-icon name="caret-back" slot="start"></ion-icon>
        Zurück
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="wrapper">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-input
            class="ip-input"
            placeholder="IP-Adresse"
            type="string"
            [(ngModel)]="ip"
            (keydown.enter)="saveIp()">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            class="port-input"
            placeholder="Port"
            inputmode="numeric"
            [(ngModel)]="port"
            (keydown.enter)="saveIp()">
          </ion-input>
        </ion-item>

        <ion-button (click)="saveIp()">
          Speichern
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>  
</ion-content>
